backend/.env
backend/dist
backend/node_modules
backend/logs
backend/*.log
backend/npm-debug.log*
backend/pnpm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*
backend/lerna-debug.log*
backend/node_modules

frontend/node_modules
frontend/.pnp
frontend/.pnp.js
frontend/.yarn/install-state.gz
frontend/coverage
frontend/.next/
frontend/out/
frontend/build
frontend/.DS_Store
frontend/*.pem  
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.env*.local
frontend/.vercel
frontend/*.tsbuildinfo
frontend/next-env.d.ts

