backend/.env
backend/dist
backend/node_modules
backend/logs
backend/*.log
backend/npm-debug.log*
backend/pnpm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*
backend/lerna-debug.log*
backend/node_modules

frontend/.output
frontend/.data
frontend/.nuxt
frontend/.nitro
frontend/.cache
frontend/dist
frontend/node_modules
frontend/logs
frontend/*.log
frontend/.env
